.qty-btn {
  border-radius: 5%;
  background-color: wheat;
  border: none;
}

.place-order-btn {
  background-color: var(--button-primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  height: 2.5rem;
}

.cart-container {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .cart-container {
    height: 100%;
  }
  .order-summary {
    margin-bottom: 20px;
  }
}
