.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar {
  background-color: rgb(92, 98, 150) !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.content {
  padding-top: 80px;
}

.footer {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: var(--primary-color) !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
}
/* button {
  background-color: rgb(92, 98, 150);
  box-sizing: none;
  border: none;
  padding: 5px;
  color: white;
}

button:hover {
  background-color: blue;
} */
